{% extends 'navbar.html.twig' %}

{% block title %}Les activités à {{ville}} {% endblock %}

{% block body %}
<div class="container">
    <button class="button-ghost"> < Retour </button><br>
    <h2 class="container-title-page"><span class="title">{{test|length}} Activités</span><span class="subtitle"> - {{ville}} ({{meteo}})</span></h2>
</div>
<div class="pt-3 container d-flex gap-5 flex-wrap m-auto justify-content-center">

    {% for activite in test %}
        {# {% if activite.location == 'int' %} #}
            <div class='w-25 activity-card'>
                <img src="{{activite.image}}" class="activite-image"/>
                <h4 class='text-center pt-2 subtitle'>{{activite.title}}</h4>
                <p class=''>{{activite.description}}</p>
            </div>
            {# {% endif %} #}
    {% endfor %}

</div>
{% endblock %}
