{% extends 'navbar.html.twig' %}

{% block title %}Les activités à {{ville}} {% endblock %}

{% block body %}
<div class="container">
    <button>  Retour </button><br>
    {% if ville is not null %} <p><b>{{test|length}} Activités</b> - {{ville}} ({{meteo}})<img src="{{icon}}"> <br>Température actuelle : {{temp}}°C<br>Temperature maximale : {{maxtemp}}°C <br>Température minimale : {{mintemp}}°C</p>
    </div>
    {% else %}
    <p><b>Activités</b><p>
    {% endif %}
<div class="pt-3 container d-flex gap-5 flex-wrap m-auto justify-content-center">

    {% for activite in test %}
        {# {% if activite.location == 'int' %} #}
            <div class='w-25 activity-card'>
                <img src="{{activite.image}}"/>
                <h4 class='text-center pt-2'>{{activite.title}}</h4>
                <p class=''>{{activite.description}}</p>
            </div>
            {# {% endif %} #}
    {% endfor %}

</div>
{% endblock %}
