{% extends 'navbar.html.twig' %}

{% block title %}Les activités à {{ville}} {% endblock %}

{% block body %}
<div class="container">
    <button> < Retour </button><br>
    <p><b>{{test|length}} Activités</b> - {{ville}} ({{meteo}})</p>
</div>
<div class="pt-3 container d-flex gap-5 flex-wrap m-auto justify-content-center">

    {% for activite in test %}
        {# {% if activite.location == 'int' %} #}
            <div class='w-25 activity-card'>
                <img src="{{activite.image}}" alt="image de l'activité {{activite.title}}"/>
                <h4 class='text-center pt-2'>{{activite.title}}</h4>
                <p class=''>{{activite.description}}</p>
            </div>
            {# {% endif %} #}
    {% endfor %}

</div>
{% endblock %}
